NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
BIRDEYE_API_KEY=
NEXT_PUBLIC_APP_STORE_URL=https://apps.apple.com/us/app/chadwallet/id6757367474
NEXT_PUBLIC_PLAY_STORE_URL=https://play.google.com/store/apps/details?id=xyz.chadwallet.www
